<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="RoomList" value="101,103"/>
      <add key="IpList" value="172.17.102.112,172.17.103.51"/>
    </appSettings>
</configuration>